* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #042B5B;
    --azul-escuro: #091B3A;
    --rosa-claro: #F1C1E9;
    --rosa-escuro: #A73D7B;
    --black: #13131a;
    --branco: #FFF;
}

body {
    padding: 1rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-image: url(./imagens/CAPA\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--azul);
    
}

header {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    .logo {
        h2 {
            color: var(--branco);
            font-family: "Montserrat", sans-serif;
            padding-left: 0.5rem;
        }
       
       display: flex;
       flex-direction: row;
       align-items: center;
       margin-right: auto;
    }

    .links {
       list-style: none;
       

        li {
            display: inline-block;
            padding: 0rem 1.25rem;
            
        }

    }

    .links li a {
        transition: all 0.3s ease 0s;
        color: var(--branco);
        padding-left: 1rem;
    }

    .links li a:hover {
        color: var(--rosa-escuro);
    }

    
   li, a {
    font-family: "Content", sans-serif;
    font-size: 1rem;
    text-decoration: none;
   }
}

main {
      
    section {

        h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 4rem;
            margin-left: 2.8rem;
            color: var(--branco);
            margin-top: 11rem;
            }

        h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 4rem;
            margin-left: 2.8rem;
            color: var(--rosa-claro);
            margin-left: 10rem;
       
        }

        .cadastre {
            font-family: "Montserrat", sans-serif;
            background-color: var(--rosa-claro);
            color: var(--rosa-escuro);
            font-size: 1.1rem;
            padding: 0.8rem 2.8rem 0.8rem 2.8rem;
            border-radius: 2rem;
            transition: all 0.3s ease 0s;
            border: none;
        }
        .cadastre:hover {
            background-color: var(--rosa-escuro);
            color: var(--rosa-claro);
        }

    }

}

