* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #042B5B;
    --azul-escuro: #091B3A;
    --rosa-claro: #F1C1E9;
    --rosa-escuro: #A73D7B;
    --black: #13131a;
    --branco: #FFF;
}

body {
    padding: 1rem 1rem;
    background-image: url(./imagens/CAPA.png);
    background-position: 0%;
    background-color: var(--azul);
    
}

header {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    .logo {
        h2 {
            color: var(--branco);
            font-family: "Montserrat", sans-serif;
            padding-left: 0.5rem;
        }
       
       display: flex;
       flex-direction: row;
       align-items: center;

       margin-right: auto;
    }

    .links {
       list-style: none;
       

        li {
            display: inline-block;
            padding: 0rem 1.25rem;
            
        }

    }

    .links li a {
        transition: all 0.3s ease 0s;
        color: var(--branco);
    }

    .links li a:hover {
        color: var(--rosa-escuro);
    }

    
   li, a {
    font-family: "Content", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
   }
}

