* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root {
    --azul: #042B5B;
    --azul-escuro: #091B3A;
    --rosa-claro: #F1C1E9;
    --rosa-escuro: #A73D7B;
    --black: #13131a;
    --branco: #FFF;
    --azul-translucido: #00073480;
    --rosa-sele: #ffe5ec;
    --rosa-sece: #fb6f92;
    --verde: #48A73D;
    --vermelho: #B20003;
}


body {
    height: 100vh;
    width: 100%;
    background-image: url(/imagens/medusa.png);
    background-repeat: no-repeat;
    background-size: cover;

}
header {

    height: 20svh;
   
   
   .logo {
       h2 {
           color: var(--branco);
           font-family: "Montserrat", sans-serif;
           padding-left: 0.5rem;
           font-size: 1.9rem;
       }
      
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: auto;

      margin-inline-start: 3rem;
      padding-top: 2.5rem;
   }

    .links {
      list-style: none;
      
      display: flex;
      justify-content: end;
      flex-direction: row;

      

      li {
           padding: 0rem 1.5rem;
           margin-top: 4rem;
           margin-right: 2rem;
       }

   }

   .links li a {
       transition: all 0.3s ease 0s;
       color: var(--branco);
       padding-left: 1rem;
       
   }

   .links li a:hover {
       color: var(--rosa-escuro);
   }

   li, a {
       font-family: "Content", sans-serif;
   }


  li, a {
   font-size: 1.5rem;
   text-decoration: none;
   
  }

  
}
.section1 {

   h1 {
       font-family: "Montserrat", sans-serif;
       font-size: 6rem;
       margin-left: 2.8rem;
       color: var(--branco);
       margin-top: 17rem;
       margin-left: 7rem;
       
       }

   h2 {
       font-family: "Montserrat", sans-serif;
       font-size: 6rem;
       color: var(--rosa-claro);
       margin-left: 14rem;
  
   }

   

}

button {
    font-family: "Montserrat", sans-serif;

}

li, a, button {
font-size: 1.5rem;
text-decoration: none;
cursor: pointer;
}

main {
    margin-left: 22rem;
    align-items: flex-start;
    display: flex;
}

 .quiz-pergunta {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: var(--branco);
    width: 37.5rem;
    height: 15rem;

}

.botoes {
    width: 100%;
    border-radius: 45px;
    width: 35.2rem;
    height: 35rem;
    background-color: var(--azul-translucido);
    justify-content: left;
    flex-direction: column;
    display: flex;
    padding-block: 4rem;
    padding-left: 3.5rem;
    padding-right: 4rem;
   
    
}

input {
    margin-bottom: 3rem;
}


.respostas {
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    form {
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 25.375rem;
    }

    input {
        display: none;
    }

    label:has(input:checked){
        font-weight: 600;
        outline: 3px solid var(--branco);
        background-color: var(--rosa-claro);
        color: var(--rosa-escuro);
        transition: 0.5s;
    }

    label#correta {
        color: var(--branco);
        font-weight: 600;
        background-color: var(--verde);
        outline: var(--verde);
    }

    label#errada {
        font-weight: 600;
        color: var(--branco);
        background-color: var(--vermelho);
        outline: var(--vermelho);
    }

    label#corrige {
        color: var(--rosa-escuro);
        font-weight: 600;
        background-color: var(--rosa-claro);
        outline: 5px solid var(--verde);
    }
    
    .btn {
        padding-block: 1.3rem;
        border: none;
        align-items: center;
        display: flex;
        border-radius: 2.19rem;
        background-color: var(--rosa-escuro);
        margin-bottom: 2rem;
        padding-left: 1.5rem;
        text-align: left;
        font-family: "Arimo", sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        color: var(--rosa-claro);

        transition: all 0.3s ease 0s;
        cursor: pointer;
    }


    .btn:hover {
        background-color: var(--rosa-claro);
        color: var(--rosa-escuro);
        transition: 0.5s;
    }

}

.proxima {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 3.13rem;
    background-color: var(--rosa-claro);
    color: #A73D7B;
    margin-top: 2rem;
    width: 12.8484rem;
    height: 2.5rem;
    margin-left: 15.8rem;

    button {
        text-decoration: none;
        cursor: pointer;
    }
}

  button:hover {
    background-color: var(--rosa-escuro);
    color: var(--rosa-claro);
    transition: 0.3s;
}

