* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #042B5B;
    --azul-escuro: #091B3A;
    --rosa-claro: #F1C1E9;
    --rosa-escuro: #A73D7B;
    --black: #13131a;
    --branco: #FFF;
}
body {
    background-image: url(/imagens/FUNDO\ QUIZ\ INCIO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.fundo {
    background-image: url(/imagens/FUNDO\ QUIZ\ INCIO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

header {
    height: 100svh;
   
   
   .logo {
       h2 {
           color: var(--branco);
           font-family: "Montserrat", sans-serif;
           padding-left: 0.5rem;
           font-size: 1.9rem;
       }
      
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: auto;

      margin-inline-start: 3rem;
      padding-top: 2.5rem;
   }

    .links {
      list-style: none;
      
      display: flex;
      justify-content: end;
      flex-direction: row;

      

      li {
           padding: 0rem 1.5rem;
           margin-top: 4rem;
           margin-right: 2rem;
       }

   }

   .links li a {
       transition: all 0.3s ease 0s;
       color: var(--branco);
       padding-left: 1rem;
       
   }

   .links li a:hover {
       color: var(--rosa-escuro);
   }

   li, a {
       font-family: "Content", sans-serif;
   }


  li, a {
   font-size: 1.5rem;
   text-decoration: none;
   
  }
  }

  

.tituloquiz {
    font-family: "Fredoka", sans-serif;
    color: var(--branco);
    font-size: 6rem;
    margin-left: 2.8rem;
    margin-top: 20rem;
    
}

.descricao {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-size: 1.5rem;
    margin-left: 2.8rem;
    margin-top: 0rem; 
    margin-bottom: 2rem;
}

 

.botaoiniciar a {
    text-align: center;
    width: 100%;
    max-width: 28rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem; 
    padding: 0.7rem 5rem; 
    margin-left: 2.8rem;
    display: inline-block;
    color: #A73D7B;
    background-color: #F1C1E9;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.botaoiniciar a:hover {
    background-color: var(--rosa-escuro);
    color: var(--rosa-claro);
    transition: all 0.3s ease 0s;
}
